body {
    font-family: 'Noto Sans KR', 'Open Sans', sans-serif;
    font-size: 20px;
}

.btn {
    font-family: 'Noto Sans KR', 'Open Sans', sans-serif;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #777;
    width: 70px;
    height: 40px;
    text-align: center;
    transition: 0.6s;
    color: white;
    margin-left: 10px;
}

.btn:hover {
    text-decoration: underline;
    background-color: #34495e;
}

.xbtn {
    background-color: transparent;
    border: none;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    list-style: none;
    margin: 30px 0px 30px 0px;
    padding: 0;
}

span {
    margin: 30px;
}

.text {
    height: 20px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}

img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}

#login-form {
    display: flex;
    align-items: center;
}

#greeting {
    font-size: 90px;
}

#clock {
    font-size: 70px;
}

#weather {
    position: absolute;
    top:20px;
    right: 20px;
    font-size: 16px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

#quote {
    position: relative;
    bottom: 20px;
    margin-top: 30px;
}

.inner {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.hidden {
    display: none !important;
}